.main-navigation__list {
  .clean-list;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-navigation__link {
  text-decoration: none;
  color: @black-color;
}

.main-navigation__item {
  margin-bottom: 24px;
}
