.additional-card__title {
  font-size: @medium-font;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 13px;
  margin-bottom: 13px;
}

.additional-card__quantity {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: @small-font;
  font-weight: 400;
  line-height: 14px;
}

.additional-card__cost {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: @small-font;
  font-weight: 400;
  line-height: 14px;
  margin-left: auto;
  margin-top: -14px;
  margin-right: 20px;
}

.additional-card__link {
  width: 280px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
